/* .textBg {

    background: linear-gradient(to top, #ff630e 0%, #ff000a 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transform: translateY(10px);
} */

.text-color-animation {
    color: transparent;
    background-color: linear-gradient(to top, #ff630e 0%, #ff000a 100%);
    /* The animation will take 2 seconds to complete */
    animation: color-change 13s infinite;
    transition: background-color 10s ease-in-out;
}


/* The animation definition */
@keyframes color-change {
    0% {
        color: whitesmoke;
        /* transform: translateY(0%); */
    }

    20% {
        color: #1bcdec;
    }

    40% {
        color: #1095d3;
    }

    60% {
        color: #fc049d;
        /* transform: translateY(15%); */
    }


    80% {
        color: #f35805;
    }

    100% {
        color: white;
        /* transform: translateY(5%); */
    }
}